*{
	font-family: "Josefin Sans";
	line-height: 1.6
}
body,p{
	margin: 0;
	padding: 0;
	line-height: 1.6
}
a{
	text-decoration: none;
	color: white;
}
.container{
	width: 90%;
	margin: auto;
}
/*header*/
header{
	background-color: #225067;
}
header .container{
	display: grid;
	grid-template-columns: 3fr 3fr;
	width: 90%;
	margin: auto;
	padding: 10px 0;
}

.web_title img{
	height: 50px;
	width: auto;
	margin-right: 7px;
}
.web_title a{
	font-size: 30px;
	color: #ebffff;
	align-self: flex-end;
	line-height: 0.9
}
.web_title{
	display: flex;
	align-items: flex-end;
}
.top_nav{
	display: flex;
	justify-content: space-between;
	align-items:flex-end;
}

.top_nav a{
	
	font-size: 17px;
	color: #ebffff;
}
.top span{
	
	font-family: "Bree Serif";
	color: white;
}
/*ask questions*/
.askquestions{
      min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/questions.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.askquestions form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left:auto;
    font-size: 30px;
    background: rgba(0,0,0,0.1);
    padding:60px 30px;
  
}
.askquestions form span{
    padding-bottom: 30px;
    color: rgba(0,0,0,0.7)
}
.askquestions form input{
    height: 45px;
    font-size: 20px;
    margin-bottom: 30px;
    border:none;
    border-bottom: 1px solid grey;
}
.askquestions form button{
    height: 45px;
    font-size: 20px;
    border: none;
    background: cornflowerblue;
    color:white;
}
/*faq*/
.faq{
    background: #f2f2f2;
    padding: 50px 0;
    font-size: 50px;
}
.faq p{
    padding-bottom: 30px;
    text-align: center;
    color: rgba(0,0,0,0.7)
}
.faq_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.faq_content > div{
    background: white;
    padding: 10px;
}
.question{
	font-size: 24px;
	padding-bottom: 20px;
	color: rgba(0,0,0,0.7);
}
.question svg{
    fill:tomato;
}
.answer{
	font-size: 17px;
	color:rgba(0,0,0,0.7);
    padding-left: 30px;
}
/*footer_content*/
footer{
	color: rgba(255,255,255,0.7);
	padding-top: 30px;
	background-color: #252525;
	padding-bottom: 30px;
}
footer a{
	color: rgba(255,255,255,0.7);
	line-height: 35px;
}
footer .container{
	width: 70%;
	
}
footer h4, footer h3{
	color: #1fe4f8;

}
.footer_content{
	display: flex;
	justify-content: space-between;
	border-bottom:1px solid white;
}
.footer_content >div{
	display: flex;
	flex-direction: column;
}
.social{
	display: flex;
	align-self: flex-end;

}
.copyright{
	display: flex;
	justify-content: space-between;
}
.social div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right:20px;
}
.social div:nth-child(3){
	margin: 0
}
.social svg{
	height: 40px;
	transition-duration: 0.5s;
	transition-property: all;
}
.social div:nth-child(1) svg{
	fill: cornflowerblue;
}
.social div:nth-child(2) svg{
	fill: pink;
}
.social div:nth-child(3) svg{
	fill: tomato;
}
.social svg:hover{
	transform: rotate(25deg);
}
