@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Sans&display=swap');
*{
	font-family: "Josefin Sans";
	line-height: 1.6
}
body,p{
	margin: 0;
	padding: 0;
	line-height: 1.6
}
a{
	text-decoration: none;
	color: white;
	
}
.container{
	width: 90%;
	margin: auto;
}
/*header*/
header{
	background-color: #225067;
}
header .container{
	display: grid;
	grid-template-columns: 3fr 3fr;
	width: 90%;
	margin: auto;
	padding: 10px 0;
}

.web_title img{
	height: 50px;
	width: auto;
	margin-right: 7px;
}
.web_title a{
	font-size: 30px;
	color: #ebffff;
	align-self: flex-end;
	line-height: 0.9
}
.web_title{
	display: flex;
	align-items: flex-end;
}
.top_nav{
	display: flex;
	justify-content: space-between;
	align-items:flex-end;
}

.top_nav a{
	
	font-size: 17px;
	color: #ebffff;
}
.top span{
	
	font-family: "Bree Serif";
	color: white;
}
/*showcase*/
.showcase{
	min-height: 90vh;
	background-image: url(../img/servicec.jpg);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.showcase_content{
  display: flex;
  flex-direction: column;
  font-size: 70px;
  text-align: center;
}
.small{
	font-size: 30px;
}
.showcase_content button{
	width: 200px;
	height: 50px;
	border:none;
	margin: auto;
	font-size: 20px;
	transition:0.4s all;
	background-color: darkslateblue;
	color: white
}
.showcase_content button:hover{
	background: tomato;
	color: white;
}
/*setvice */
.service{

	font-size: 30px;
    text-align: center;
    background: #f2f2f2; 
    padding: 50px 0;
}
.service_content{
	display: grid;
    grid-template-columns: repeat(3,1fr);
	justify-content: space-between;
    grid-gap: 30px;

}
.title{
	margin-bottom: 20px;
}

.service_content div img{
	height: 100px;
}
.service_content div{
	display: flex;
	flex-direction: column;
	font-size: 22px;
	text-align: center;
    background:white;
    padding:30px 20px;
   
}
.service_content div button{
    width:100px;
    font-size: 17px;
    background-color: cornflowerblue;
    border:none;
    color:white;
    border-radius: 20px;
}
.service_content div span{
	margin-top: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgba(0,0,0,0.8)

}
.service_content div p{
    font-size: 18px;
    color: rgba(0,0,0,0.7);
}
/*what we offer*/
.whatweoffer{
	padding: 50px 0;
}
.whatweoffer .title{
	text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: rgba(0,0,0,0.8);
  padding-bottom: 30px;
}
.whatweoffer_content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
.whatweoffer_content >div> p{
	font-size: 20px;
	color: rgba(0,0,0,0.7);
	margin-left: 40px;

}
.whatweoffer_content svg{
	fill: tomato;

}
.whatweoffer_content div div{
	color: rgba(0,0,0,0.7);
	font-size: 28px;
	margin: 0;
	padding:0;
	padding-bottom: 20px;
	font-weight: bold;

}
/*footer_content*/
footer{
	color: rgba(255,255,255,0.7);
	padding-top: 30px;
	background-color: #252525;
	padding-bottom: 30px;
}
footer a{
	color: rgba(255,255,255,0.7);
	line-height: 35px;
}
footer .container{
	width: 70%;
	
}
footer h4, footer h3{
	color: #1fe4f8;

}
.footer_content{
	display: flex;
	justify-content: space-between;
	border-bottom:1px solid white;
}
.footer_content >div{
	display: flex;
	flex-direction: column;
}
.social{
	display: flex;
	align-self: flex-end;

}
.copyright{
	display: flex;
	justify-content: space-between;
}
.social div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right:20px;
}
.social div:nth-child(3){
	margin: 0
}
.social svg{
	height: 40px;
	transition-duration: 0.5s;
	transition-property: all;
}
.social div:nth-child(1) svg{
	fill: cornflowerblue;
}
.social div:nth-child(2) svg{
	fill: pink;
}
.social div:nth-child(3) svg{
	fill: tomato;
}
.social svg:hover{
	transform: rotate(25deg);
}


